<div class="container text-center" ng-cloak="">

    <div ng-hide="isHeaderHidden">
    <h1>Google Calendar Data</h1>
    <div class="panel panel-primary">
        <div class="panel-body">

            <p>This applications sync to your Google Calendar and gives you useful information about your meeting
                schedule. Click the button below to proceed.</p>
            <button class="btn btn-primary" ng-click="handleAuthClick()">Authorize</button>
            <button class="btn btn-primary" ng-click="logOut()">Logout</button>
        </div>
    </div>


    </div>
    <div class="row" ng-hide="areChartsHidden">
    <div class="col-sm-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Upcoming Events</h3>
        </div>
            <div class="list-group" style="max-height: 300px; overflow: scroll">
                <div ng-repeat="item in dataIn.items track by $index">
                <a href="#" class="list-group-item">
                    <p class="list-group-item-heading">{{item.summary}}</p>
                    <p class="list-group-item-text">{{(formatDate(item.start.dateTime))}}</p>
                </a>
                </div>
            </div>
    </div>

    </div>

<div class="col-sm-7">
    <div class="panel panel-default">

        <div class="panel-body">
            <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
        </div>
    </div>
</div>
    </div>
</div>